networks:
  tg_host:
    external: false

services:
  tg-signer:
    build:
      context: ..
      dockerfile: docker/CN.Dockerfile
      args:
        TZ: ${TZ:-Asia/Shanghai}
    container_name: ${CONTAINER_NAME:-tg-signer}
    command: ["/bin/bash", "start.sh"]
    ports:
      - "${WEBGUI_PORT:-8253}:8080"
    volumes:
      - ${DATA_DIR:-$PWD}:/opt/tg-signer
    environment:
      - TG_PROXY=socks5://172.17.0.1:7890
      - TZ=${TZ:-Asia/Shanghai}
    networks:
      - tg_host
    restart: unless-stopped
